@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}

.imagenBackground {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}

.navbar{
    padding: 20px ;
    display: flex;
    justify-content: center;
    width: 100%;    
    
}


.ul1 {
    padding: 30px ;
}

.li__navbar {
    display: inline-block;
    list-style-type: none;
    background-color: salmon;
    border: solid;
    border-color: white;
}

.li__navbar a {
    color: blue;
    margin: 30px;
    padding: 20px;
    text-decoration:none
}

.profesionales {
    color: white;
    font-size: 35px;
    text-align: center;
}

.medico {
    padding: 60px;
    display: flex;
    gap: 60px;
}



.medicos {
    background-color: rgb(15, 60, 226);
    border-radius: 20px;
    text-align: center;
}

.medicos__titulo {
    width: 100%;
    text-align: center;
    color: white;
}


.medicos__imagen {
    width: 30%;
    height: 180px;
}

.medicos__descripcion {
    text-align: center;
    color: white;
}

.medicos1 {
    flex: 1;
}

.medicos2 {
    flex: 1;
}

.medicos3 {
    flex: 1;
}

.tablaTelefono{
padding: 20px;
text-align: left;
display: none;
width: 100%;
}

.tabla__titulos {
    color: white;
    border: solid ;
    border-color: black;
}
.tabla__medicos{
    color: white;
    border: solid;
    border-color: black;
    width: 200px;
}



.boton{
    text-align: center;
}

.boton__turno {
    padding: 15px;
    font-size: 20px;
}

.consultorios {
    color: blue;
    padding: 35px 0px;
    width: 100%;
    height: 500px;
}

.titulo__consultorios {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.img__consultorio1, .img__consultorio2, .img__consultorio3 {
    flex-direction: row;
    width: 33%;
    height: 300px;
}


.lugar {
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.ubicacion {
    width: 1100px;
}

.lugar__div2 {
    padding-left: 20px;
}

.reloj {
    width: 100px;
}

.parrafo {
    flex-direction: column
}

h3 {
    font-size: 25px;
}

.pie {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.redesSociales {
    width: 150px;
    height: 100px;
}

.covid__19{
    text-align: center;
    font-size: 40px;
    color: red;
}

.covid__titulo{
    padding: 20px 0px;
    text-align: center;
    color: white;
}

.video{
    width: 1518px;
    height: 500px;
}

.covid__parrafo{
    padding: 25px;
    font-size: 17px;
    color: white;
    text-align: center;
}

.coberturas{
    text-align: center ;
    display: flex;
    flex-direction: column;
}

.coberturas__titulo{
    font-size: 40px;
    color: aliceblue;
    padding: 20px;
}

.coberturas__parrafo{
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

.contactenos{
    text-align: center;
    color: aliceblue;
    height: 100%;
    width: 100%;
}

.contactenos__titulo{
    font-size: 50px;
    padding: 30px;
}

.contactenos__parrafo{
    font-size: 30px;
    padding: 25px 30px;
}


.turnos{
    text-align: center;
    padding: 10px;
    color:crimson;
}

.turnos__titulo{
    font-size: 40px;
    padding-bottom: 20px;
    color: aliceblue;
}

.turnos__parrafo{
    font-size: 25px;
    padding: 15px;
}






@media screen and (max-width: 1600px){
    .ubicacion {
        width: 900PX;
    }

    .consultorios{
        height: 800px;
    }
    
    .img__consultorio1, .img__consultorio2{
        width: 49%;
    }
    .img__consultorio3{
        width: 100%  ;
    }

    .video{
       width: 1024px;
    }

    
}


@media screen and (max-width: 1024px){
    .ubicacion {
        width: 650px;
    }

    .video{
        width: 768px;
    }

   

}


@media screen and (max-width: 768px){
    .li__navbar {
        width: 100%; 
        padding: 16px;    
}

.medicos__imagen{
    width: 75%;    
}

.ubicacion {
    width: 100%;
}

.redesSociales {
    width: 75%;
    height: 100px;
}

.video{
    width: 480px;
}

}

@media screen and (max-width: 480px){
   
    .medicos{
        display: none;
    }
    .tablaTelefono{
        display: contents;
    }

   
    .ubicacion {
        width: 100%;
    }
    
    .reloj{
        display: none;
    }

    .pie__h2{
        display: none;
    }

    .redesSociales {
        width: 100%;
        height: 100px;
    }
    
    .video{
        width: 360px;
    }

}