@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagenBackground {
    background-image: url("../img/background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    font-family: 'DynaPuff', cursive;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

}


.ul1 {
    padding: 30px;
}

.li__navbar {
    display: inline-block;
    list-style-type: none;
    background-color: rgb(250, 128, 114);
    border: solid;
    border-color: rgb(255, 255, 255);
}

.li__navbar a {
    color: rgb(0, 0, 255);
    margin: 30px;
    padding: 20px;
    text-decoration: none
}

.nav2{
    display: none;
}

.profesionales {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
}

.medico {
    padding: 60px;
    display: flex;
    gap: 60px;
}



.medicos {
    background-color: rgb(15, 60, 226);
    border-radius: 20px;
    text-align: center;
}

.medicos__titulo {
    width: 100%;
    text-align: center;
    color: white;
}


.medicos__imagen {
    width: 30%;
    height: 180px;
}

.medicos__descripcion {
    text-align: center;
    color: rgb(255, 255, 255);
}

.medicos1 {
    flex: 1;
}

.medicos2 {
    flex: 1;
}

.medicos3 {
    flex: 1;
}

.medico {
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}


.tablaTelefono {
    padding: 20px;
    text-align: left;
    display: none;
    width: 100%;
}

.tabla__titulos {
    color: rgb(255, 255, 255);
    border: solid;
    border-color: black;
}

.tabla__medicos {
    color: rgb(255, 255, 255);
    border: solid;
    border-color: black;
    width: 200px;
}



.boton {
    text-align: center;
    padding: 20px;
}


.boton__turno {
    padding: 15px;
    font-size: 20px;
    transition: all 1s 100ms;
}

.boton__turno:hover {
    background-color: rgb(250, 128, 114);
    transform: scale(1.2);
}


.boton__enlace {
    text-decoration: none;
    transition: all 1s
}

.boton__enlace:hover {
    color: rgb(2, 2, 2);
}


.consultorios {
    color: rgb(255, 255, 255);
    padding: 35px 0px;
    width: 100%;
    height: 500px;
}

.titulo__consultorios {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.img__consultorio1,
.img__consultorio2,
.img__consultorio3 {
    flex-direction: row;
    width: 33%;
    height: 300px;
}


.lugar {
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.ubicacion {
    width: 1100px;
}

.lugar__div2 {
    padding-left: 20px;
}

.parrafo {
    flex-direction: column
}

h3 {
    font-size: 25px;
}

.pie {
    background-color: rgb(0, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pie__link {
    padding-left: 20px;
    text-decoration: none;
    color: rgb(10, 8, 155);
}

.covid__19 {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 0, 0);
}

.covid__titulo {
    padding: 20px 0px;
    text-align: center;
    color: rgb(0, 0, 0);
}


.covid__parrafo {
    padding: 25px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.covid__link {
    text-decoration: none;
    color: rgb(10, 8, 155);
}

.video {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.coberturas {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.coberturas__titulo {
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.coberturas__parrafo {
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

.cobertura__imagen {
    padding: 20px 30px;
    width: 700px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
}



.contactenos {
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

.contactenos__titulo {
    font-size: 50px;
    padding: 30px;
}

.contactenos__parrafo {
    width: 100%;
    font-size: 30px;
    padding: 20px 0px;
}

.contactenos__link {
    text-decoration: none;
    color: rgb(18, 10, 134);
}


.turnos {
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.turnos__titulo {
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(168, 19, 19);
}

.turnos__parrafo {
    font-size: 25px;
    padding: 15px;
}






@media screen and (max-width: 1600px) {
    .ubicacion {
        width: 900PX;
    }

    .consultorios {
        height: 800px;
    }

    .img__consultorio1,
    .img__consultorio2 {
        width: 49%;
    }

    .img__consultorio3 {
        width: 100%;
    }

    .video {
        align-items: center;
    }


}


@media screen and (max-width: 1024px) {
    .ubicacion {
        width: 650px;
    }

    .video {
        width: 100vw;
    }



}


@media screen and (max-width: 1004px) {
    .ul1{
        padding: 0;
    }    
}


@media screen and (max-width: 968px) {

    .ul1{
       display: none;
    }

    .nav2{
        display: contents;
    }
}


@media screen and (max-width: 768px) {
  
    .medicos__imagen {
        width: 75%;
    }

    .ubicacion {
        width: 100%;
    }

    .redesSociales {
        width: 75%;
        height: 100px;
    }

    .contactenos__parrafo {
        font-size: 20px;
    }

}

@media screen and (max-width: 480px) {

    .medicos {
        display: none;
    }

    .tablaTelefono {
        display: contents;
    }


    .ubicacion {
        width: 100%;
    }


    .lugar {
        flex-direction: column;
    }

    .pie__h2 {
        display: none;
    }

    .redesSociales {
        width: 100%;
        height: 100px;
    }

    .video {
        padding: 0px;
    }

}