.contactenos {
    .contactenos__titulo {
        text-align: center;
        font-size: $font-size6;
        color: $color1;
    }
}

.contacto {
    text-align: center;

    .contacto__email {
        font-size: $font-size6;
        padding: $padding-3;
        color: $color3;
    }
}

.contactos {
    text-align: center;

    .contacto__descripcion {
        font-size: $font-size6;
        padding: $padding-3;
        color: $color3;
    }
}

.enviar {
    text-align: center;
    padding: $padding-5;

    .boton__contacto {
        text-align: center;
        padding: $padding-5;
        color: $color5;
    }
}