@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

$font-family: "Open Sans", sans-serif;
$font-family2: "Roboto", sans-serif;
$font-family3: 'DynaPuff', cursive;

$font-size1: 25px;
$font-size2: 40px;
$font-size3: 20px;
$font-size4: 35px;
$font-size5: 17px;
$font-size6: 50px;
$font-size7: 30px;
