$df: flex;
$dn: none;
$db: block;
$dib: inline-block;
$dc: contents;


$color1: rgb(247, 6, 6);
$color2: rgb(248, 241, 241);
$color3:  rgb(2, 2, 2);
$color4: rgb(250, 128, 114);
$color5: rgb(4, 4, 245);
$color6: rgb(10, 8, 155);

$bg1: rgb(15, 60, 226);
$bg2: rgb(4, 247, 247);
$bg3: rgb(250, 128, 114);;
