* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-family;
    background-image: url("../img/background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}